body {
    background-color: black;
}

.tile-container {
    font-size: 0;
    white-space: nowrap;
}

.tile {
    color: red;
    font-size: 16px;
    border: 1px solid white;
    display: inline-block;
    width: 20px;
    height: 20px;
    overflow: hidden;
    margin: 1px;
}